/* src/app/page/signup/signup.component.css */

.bootstrap-wrapper {
  background-image: url('/assets/img3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  background-color: rgba(251, 249, 249, 0.855);
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(240, 250, 239, 0.1);
  width: 100%;
  max-width: 400px;
}

.id {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

h2 {
  margin-bottom: 24px;
  color: #12f30b;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mat-mdc-form-field {
  width: 100%;
}

.submit-button {
  margin-top: 16px;

}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }
}

