<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img src="../../../assets/perfil.png" width="100" height="100" class="id">
        </div>

        <h2 class="text-center">Bienvenido a mi perfil</h2>
        <form action="">
          <form action="">
            <mat-form-field appearance="fill">
              <mat-label>Input</mat-label>
              <input matInput placeholder="Ingresa tu texto aquí">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">Primera opción</mat-option>
                <mat-option value="two">Segunda opción</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput placeholder="Ingresa tu comentario aquí"></textarea>
            </mat-form-field>
          </form>



        </form>
      </div>
    </div>
  </div>
</div>